<div>
    <button class="btn btn-primary" *ngIf="user" [routerLink]="['/add']">Add a wish</button>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let wish of wishes | async">
            <button class="btn btn-primary" (click)="takeWish(wish)"
                    *ngIf="user && wish.userId != user._id && wish.takenByUserId == null">
                Take
            </button>
            <button class="btn btn-default" *ngIf="user && wish.takenByUserId == user._id">
                Taken by you
            </button>
            <button class="btn btn-default"
                    *ngIf="user && wish.takenByUserId != null &&  wish.takenByUserId !== user._id">
                Taken by {{wish.takenByUserId}}
            </button>
            <p>{{wish.title}}</p>
            <p>{{wish.description}}</p>
            <p>{{wish.price}}</p>
            <a style="display: block" [routerLink]="['/user', wish.userId]">{{wish.userId}}</a>
            <button class="btn btn-danger" *ngIf="user && user._id == wish.userId" (click)="removeWish(wish)">Remove</button>
        </li>
    </ul>
</div>