<div class="container" layout="row" layout-align="center start" layout-fill layout-margin>
    <div layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
        <div layout="column" layout-margin layout-padding>
            <div layout="row" layout-margin>
                <p class="md-body-2"> Sign up</p>
            </div>
            <div class="form-content">
                <div class="form-center">
                    <form [formGroup]="signupForm" #f="ngForm" (ngSubmit)="signup()">
                        <div style="display: table-row">
                            <div class="form-inputs">
                                <md-input style="display: block" formControlName="username" type="text" placeholder="Username"></md-input>
                                <br/>
                                <md-input style="display: block" formControlName="password" type="password" placeholder="Password"></md-input>
                                <div layout="row" layout-align="space-between center">
                                    <button md-raised-button class="md-primary" type="submit" aria-label="login">Sign up</button>
                                    <span style="padding:0 10px">or</span>
                                    <button md-raised-button [routerLink]="['/login']">Sign in</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div [hidden]="error == ''">
                <md-toolbar class="md-warn" layout="row" layout-fill layout-padding layout-margin>
                    <p class="md-body-1">{{ error }}</p>
                </md-toolbar>

            </div>

        </div>
    </div>
</div>